<nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">TNS</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Products<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a routerLink="/products">Add Product</a></li>
              <li><a href="#">List Product</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Orders<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a routerLink="/orders">View Orders</a></li>
              <li><a routerLink="/ordersCanceled">View Cancelled Orders</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sales<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Sales</a></li>

            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Profile</a></li>
              <li><a href="#">Settings</a></li>
              <li role="separator" class="divider"></li>
              <li><a [routerLink]="['/login']">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
<div class="container">

<div class="row">
  <h1>Returns/Cancellation/Damages Orders</h1>
    <a routerLink="add" class="btn btn-success">Add</a>
</div>

<div class="row">
  <table class="table products-table table-bordered table-hover">
      <tr class="active">
          <th>Order ID</th>
          <th>SKU</th>
          <th>Date</th>
          <th>Status</th>
      </tr>
      <tr *ngFor="let order of orders">
          <td><a [routerLink]="['edit', order.id]">{{order.id}}</a></td>
          <td>{{order.sku}}</td>
          <td>{{order.date}}</td>
          <td>{{order.status}}</td>
      </tr>
  </table>
</div>

</div>
<div class="view-side-form">
    <router-outlet></router-outlet>
</div>
